<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="header">
    <h1>Flashstudy</h1>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/first">Back to decks</a></li>
    <li><a href="/new">Make new deck</a></li>
    <li><a href="/information">Information</a></li>
    {% if session.user_id %}
    <li style="float:right"><a class="active" href="/logout">Sign out</a></li>
    {% else %}
    <li style="float:right"><a class="active" href="/register">Sign up</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
    {% endif %}
</ul>

<br>
<br>

<div class="content">
    {% if session.user_id %}
    <p>adding card to deck {{topic}}</p> 

    <form action="/added/{{ deck_id }}" method="POST">
    <p>Add card:<br>
    <input type="text" name="word">
    <input type="text" name="answer"></p>
    <input type="submit" value="Add card">
    </form>
    {% else %}
    <p>Please login</p>
    {% endif %}
</div>