<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="header">
    <h1>Flashstudy</h1>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/information">Information</a></li>
    <li style="float:right"><a class="active" href="/register">Sign up</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
</ul>

<br>
<br>

<p>under progress</p>
<form action="/added/{{ deck_id }}" method="POST">
<p>Add card:<br>
<input type="text" name="word">
<input type="text" name="answer"></p>
<input type="submit" value="Add cards">
</form>