<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="header">
    <h1>Flashstudy</h1>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">Make new deck</a></li>
    <li><a href="/information">Information</a></li>
    {% if session.user_id %}
    <li style="float:right"><a class="active" href="/logout">Sign out</a></li>
    {% else %}
    <li style="float:right"><a class="active" href="/register">Sign up</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
    {% endif %}
</ul>

<br>
<br>

<div class="content">
    {%if session.user_id%}
    <h3>Help:</h3>
    <p>Browse decks below.</p>
    <p>"Practise this deck": view cards one by one </p>
    <p>"Do test": shows question and asks answer in writing</p>
    <p>"Comment": add comment to deck or browse previous comments</p>
    <p>"Add cards": add cards to deck. (only decks made by you)</p>
    <br>
    <h3>Decks:</h3>
    <hr>
    {% for deck in decks %}
    Deck title: {{ deck[1] }} <br>
    Description: {{ deck[2]}} <br>
    <a href="/deck/{{ deck[0] }}">Practise this deck</a> |
    <a href="test/{{ deck[0] }}">Do test</a> |
    <a href="/deck/{{ deck[0] }}/comments">Comment</a> |
    {% if session.user_id==deck[2] %}
    <a href="/addcards/{{ deck[0] }}">Add cards</a> |
    {% endif %}
    <hr>
    {% endfor %}
    {% else %}
    <p>Please sign in to view content and make your own flashcards</p>
    {% endif %}
</div>