<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="header">
    <h1>Flashstudy</h1>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">Make new deck</a></li>
    <li><a href="/information">Information</a></li>
    {% if session.user_id %}
    <li style="float:right"><a class="active" href="/logout">Sign out</a></li>
    {% else %}
    <li style="float:right"><a class="active" href="/register">Sign up</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
    {% endif %}
</ul>

<br>
<br>
{% if session.user_id %}
{{ topic }}
<br>
{{ word }}
<br>
<a href="/answer/{{ deck_id }}/{{frontside_id}}">Show answer</a>
<br>
<a href="/first">Go back</a>
{% else %}
<p>Please login</p>
{% endif %}