<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<div class="header">
<h1>Flashstudy</h1>
</div>

<ul>
    <li><a href="/">Home</a></li>
    {% if session.user_id %}
    <li><a href="/first">Flashcards</a></li>
    {% endif %}
    <li><a href="/information">Information</a></li>
    {% if session.user_id %}
    <li style="float:right"><a class="active" href="/logout">Sign out</a></li>
    {% else %}
    <li style="float:right"><a class="active" href="/register">Sign up</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
    {% endif %}
</ul>

<br>

<div class="content">
<dd>
{% for item in items %}
<dd> {{ item }}
{% endfor %}
</dd>
<br>
<p>Welcome to Flashstudy!</p>
<p>Here you can study with Flashcards. </p>
<p>Start by making account or visiting the information page.</p>
<p>Hope you have fun.</p>
<br>
<p>Please use lower case letters when adding cards to vocabulary decks</p>
<p>This makes the practice tests easier :D</p>
</div>
