<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="header">
    <h1>Flashstudy</h1>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/information">Information</a></li>
    {% if session.user_id %}
    <li style="float:right"><a class="active" href="/logout">Sign out</a></li>
    {% else %}
    <li style="float:right"><a class="active" href="/register">Sign up</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
    {% endif %}
</ul>

<br>
<br>

<div class="content">
    <p>In Flashstudy you can study with the help of flashcards.
    You can make your own decks or practice on other decks made by someone else.
    Start by signing up and maybe browsing some of the already made decks.
    Then start making your own!!</p>
    
    <p>At this point the test feature is case-sensitive and also requires exactly the same answer as is stated
    when making the deck. Because of this the test feature is best suited for language studies. More specifically
    vocabulary studies. Please use uppercase letters only when needed. For example, in names.</p>

    <p>In the future there will be another test that is more suited for longer answers where you choose between four alternatives.</p>

    <p>Thanks! :D</p>
</div>